REACT_APP_GOOGLE_CLIENT_ID=seu_client_id_do_google.apps.googleusercontent.com
REACT_APP_CLOUDINARY_CLOUD_NAME=seu_cloud_name
REACT_APP_CLOUDINARY_UPLOAD_PRESET=seu_unsigned_upload_preset
REACT_APP_CLOUDINARY_FOLDER=ucatalogo
REACT_APP_PRODUCTS_API_URL=http://localhost:4000/api
