MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/ucatalog?retryWrites=true&w=majority
PORT=4000
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=seu_client_id_do_google.apps.googleusercontent.com
ADMIN_ALLOWED_EMAILS=admin1@gmail.com,admin2@gmail.com
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret
